
{% if page.url == '/' %}
<script>
if ('serviceWorker' in navigator) {
	navigator.serviceWorker.register('/serviceworker.js').then(function (registration) {
		console.log('Registration succeeded. Scope is ' + registration.scope);
	}).catch(function(error) {
		console.log('Registration failed with ' + error);
	});
}
</script>
{% endif %}


<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
		jax: ["input/TeX","output/SVG"]
	});
</script>
<script src="https://cdn.bootcss.com/mathjax/2.7.2/MathJax.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/mathjax/2.7.2/config/TeX-AMS-MML_SVG.js" type="text/javascript"></script>